# Virtual Environment
venv/
env/
ENV/

# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class

# IDE
.vscode/
.idea/

# Keep output directory but ignore its contents by default
output/*
# Add exceptions here if you want to track specific files in output
# !output/.gitkeep
# !output/specific_file.po 